# ignore all
*

# unignore all with extensions
!*.*
!Makefile
!Dockerfile

# unignore all dirs
!*/

## above combination will ignore all files without extension (go binaries for example)
## below are the usual ignores

.DS_Store
*.log
bin
debug
vendor
tmp
